@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background-color: var(--bg-dark1);
  border-radius: var(--quadrado);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark3);
  border-radius: var(--quadrado);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-jq);
}

:root {
  --color-border: #0765a8;
  --color-title-dark: #fff;
  --color-text-dark: #aaa;
  --color-border-dark: #333;
  --bg-dark: #050505;
  --bg-dark0: #151515;
  --bg-dark1: #202020;
  --bg-dark2: #252525;
  --bg-dark3: #303030;
  --bg-teste: green;
  --identificador: red;
  --title-h1: 2rem;
  --title-h2: 1.5rem;
  --title-h3: 1.3rem;
  --title-h4: 1.2rem;
  --title-h5-h6: 1.1rem;
  --code-size: 0.9rem;
  --title: "Roboto", "Ubuntu", sans-serif;
  --texto: "Ubuntu", sans-serif;
  --color-jq: #0765a8;
  --color-jq-hover: #fff;
  --padding-contall: 20px;
  --padding-contw: 0 20px;
  --padding-conth: 20px 0;
  --padding-btn: 10px 20px;
  --margin-contall: 20px;
  --margin-contw: 0 20px;
  --margin-conth: 20px 0;
  --gap-min: 10px;
  --gap-med: 20px;
  --gap-max: 40px;
  --largura-content: 1440px;
  --quadrado: 5px;
  --redondo: 20px;
  --circle: 50%;
}

body {
  background-color: var(--bg-dark0);
  padding: var(--padding-contall);
  font-family: var(--texto);
  width: calc(100vw - 12px);
}
body a {
  color: var(--color-text-dark);
  text-decoration: none;
}
body a:hover {
  color: var(--color-jq);
}
body .btn {
  background-color: var(--bg-dark3);
  padding: var(--padding-btn);
  color: var(--color-title-dark);
  text-decoration: none;
  border-radius: var(--quadrado);
  border: none;
  max-width: 300px;
  margin: 0 auto;
  transition: 0.3s ease;
}
body .btn:hover {
  background-color: var(--color-jq);
  color: var(--color-title-dark);
  transform: scale(1.01);
}
body main {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: var(--gap-med);
  min-height: 100vh;
}
body input {
  max-width: 300px;
  font-size: var(--title-h4);
  color: var(--color-text-dark);
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--title);
  color: var(--color-title-dark);
}
body p {
  color: var(--color-text-dark);
}
body .classe-teste {
  background-color: var(--bg-teste);
  padding: var(--padding-btn);
  display: inline-block;
  color: var(--bg-dark0);
  font-weight: bold;
  border-radius: var(--quadrado);
}
body button.btn {
  background-color: var(--bg-dark3);
  padding: var(--padding-btn);
  color: var(--color-title-dark);
  text-decoration: none;
  border-radius: var(--quadrado);
  border: none;
  cursor: pointer;
  width: 100%;
}
body section#atalhos-vscode {
  width: 100%;
  max-width: 1000px;
}
body section#atalhos-vscode h1 {
  padding-bottom: var(--padding-contall);
}
body section#atalhos-vscode hr {
  background-color: var(--bg-dark);
  border: none;
  height: 2px;
  border-radius: 10%;
}
body section#atalhos-vscode p {
  align-items: center;
  -moz-column-gap: var(--gap-med);
       column-gap: var(--gap-med);
  margin: var(--margin-contall);
}
body section#atalhos-vscode span {
  display: inline-flex;
  margin: var(--margin-contall);
  background-color: var(--bg-dark2);
  padding: var(--padding-btn);
  border-radius: var(--quadrado);
  text-transform: uppercase;
}
body section#atalhos-vscode span:first-child {
  margin-left: calc(var(--margin-contall) - var(--margin-contall));
}
body section.section {
  display: grid;
  row-gap: var(--gap-min);
}
body section.section05 {
  width: 100%;
  max-width: 1080px;
  text-align: center;
}
body section.section05 .slide {
  background-color: var(--bg-dark2);
  text-align: center;
  padding: var(--padding-contall);
  cursor: pointer;
  width: 100%;
  max-width: 920px;
  font-size: var(--title-h3);
  font-weight: bold;
  position: relative;
}
body section.section05 .content-cards {
  gap: var(--gap-min);
  justify-content: center;
  padding-top: var(--padding-contall);
  position: relative;
  display: none;
  height: 374px;
}
body section.section05 .content-cards div, body section.section05 .content-cards .container {
  max-height: 100%;
  display: grid;
  gap: var(--gap-min);
  position: relative;
  width: 33%;
  max-width: 300px;
}
body section.section05 .content-cards div-yellow, body section.section05 .content-cards .container-yellow {
  background-color: yellow;
}
body section.section05 .content-cards div-yellow .div05 p, body section.section05 .content-cards .container-yellow .div05 p {
  color: var(--bg-dark0);
}
body section.section05 .content-cards div-yellow button, body section.section05 .content-cards .container-yellow button {
  color: var(--bg-dark0);
}
body section.section05 .content-cards div-green, body section.section05 .content-cards .container-green {
  background-color: green;
}
body section.section05 .content-cards div-blue, body section.section05 .content-cards .container-blue {
  background-color: blue;
}
body section.section05 .content-cards div .mascara, body section.section05 .content-cards .container .mascara {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--bg-dark0);
}
body section.section05 .content-cards div .div05, body section.section05 .content-cards .container .div05 {
  width: 100%;
  height: 250px;
  border-radius: var(--quadrado);
  background-color: inherit;
  font-size: var(--title-h4);
}
body section.section05 .content-cards div .div05 p, body section.section05 .content-cards .container .div05 p {
  display: flex;
  text-align: center;
  height: inherit;
  align-items: center;
  color: var(--color-title-dark);
  padding: var(--padding-contw);
}
body section.section05 .content-cards div button, body section.section05 .content-cards .container button {
  width: 100%;
  background-color: inherit;
  z-index: 1;
  font-size: var(--title-h4);
}
body section.section05 .content-cards div button.btn-show, body section.section05 .content-cards div button.btn-fadein, body section.section05 .content-cards .container button.btn-show, body section.section05 .content-cards .container button.btn-fadein {
  display: none;
}
body section.section06 {
  text-align: center;
  max-width: 800px;
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: var(--gap-med);
}
body section.section06 hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--bg-dark2);
  border-radius: 5px;
}
body section.section06 input {
  max-width: 300px;
  height: 40px;
  padding: var(--padding-btn);
  border: none;
  border-radius: var(--quadrado);
  font-size: var(--title-h4);
  color: var(--color-text-dark);
}
body section.section06 img#jquery {
  max-width: 200px;
}
body section.section06 div {
  display: flex;
  gap: var(--gap-min);
  width: 80%;
}
body section.section06 div #append {
  background-color: var(--color-jq);
}
body section.section06 div #prepend {
  background-color: #5207a8;
}
body section.section06 div#divs {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--bg-dark2);
  padding: 5px 0 5px 5px;
  border-radius: var(--quadrado);
  height: 94px;
  overflow: auto;
}
body section.section06 div#divs div {
  max-width: 20px;
  height: 20px;
  border-radius: var(--quadrado);
}
body section.section06 div#divs div.append {
  background-color: var(--color-jq);
}
body section.section06 div#divs div.prepend {
  background-color: #5207a8;
}
body section.section06 div#divs div.new {
  -webkit-animation: newprepend 0.6s ease;
          animation: newprepend 0.6s ease;
}
@-webkit-keyframes newprepend {
  from {
    background-color: white;
  }
}
@keyframes newprepend {
  from {
    background-color: white;
  }
}
body section.section06 div#header_addDivs {
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
body section.section06 div#header_addDivs #zerarDivs, body section.section06 div#header_addDivs #removerDivs {
  margin: 0;
  cursor: pointer;
}
body section.section06 div#temaToggle {
  position: fixed;
  bottom: var(--padding-contall);
  right: var(--padding-contall);
  width: auto;
}
body section.section06 div#temaToggle #toggleTema {
  background-color: white;
  color: var(--bg-dark0);
}

body.light {
  background-color: #f0f0f0;
  color: black;
}
body.light h1, body.light h2, body.light p {
  color: #151515;
}
body.light span, body.light button, body.light a {
  background-color: white;
  color: #151515;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
body.light span#append, body.light span#prepend, body.light button#append, body.light button#prepend, body.light a#append, body.light a#prepend {
  color: #fff;
}
body.light img#jquery {
  transform: scale(1.2);
}
body.light div#temaToggle #toggleTema {
  background-color: #151515 !important;
  color: white !important;
}/*# sourceMappingURL=style.css.map */