@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;

        &-track {
            background-color: var(--bg-dark1);
            border-radius: var(--quadrado);
        }

        &-thumb {
            background-color: var(--bg-dark3);
            border-radius: var(--quadrado);
        }

        &-thumb:hover {
            background-color: var(--color-jq);
        }

    }
}

:root{
    // cores
    --color-border: #0765a8;
    --color-title-dark: #fff;
    --color-text-dark: #aaa;
    --color-border-dark: #333;
    --bg-dark: #050505;
    --bg-dark0: #151515;
    --bg-dark1: #202020;
    --bg-dark2: #252525;
    --bg-dark3: #303030;
    --bg-teste: green;
    --identificador: red;
    --color-att: #9cdcfe;
    --color-pri: #4863f7;

    // Tamanho do texto
    --title-h1: 2rem;
    --title-h2: 1.5rem;
    --title-h3: 1.3rem;
    --title-h4: 1.2rem;
    --title-h5-h6: 1.1rem;
    --code-size: 0.9rem;

    // Fontes
    --title: 'Roboto', 'Ubuntu', sans-serif;
    --texto: 'Ubuntu', sans-serif;

    // Botão jQuery
    --color-jq: #0765a8;
    --color-jq-hover: #fff;

    // Preenchimentos
    --padding-contall: 20px;
    --padding-contw: 0 20px;
    --padding-conth: 20px 0;
    --padding-btn: 10px 20px;

    // Espaçamento
    --margin-contall: 20px;
    --margin-contw: 0 20px;
    --margin-conth: 20px 0;
    --gap-min: 10px;
    --gap-med: 20px;
    --gap-max: 40px;

    // Tamanho do conteúdo
    --largura-content: 1000px;

    // Formas
    --quadrado: 5px;
    --redondo: 20px;
    --circle: 50%;
}

body{
    background-color: var(--bg-dark0);
    color: var(--color-text-dark);
    font-family: var(--texto);

    .title{
        color: var(--color-title-dark);
        transition: .3s ease;
        // color: var(--color-pri);
        // font-family: var(--title);

        &:hover{
            color: var(--color-pri) !important;
        }

        &h1{
            font-size: var(--title-h1);
        }
        &h2{
            font-size: var(--title-h2);
        }
        &h3{
            font-size: var(--title-h3);
        }
        &h4{
            font-size: var(--title-h4);
        }
        &h5, &h6{
            font-size: var(--title-h5-h6);
        }
    }

    a, a:visited{
        color: var(--color-title-dark);

        &:hover{
            color: var(--color-pri);
        }
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        // max-width: var(--largura-content);
        
        section{
            padding: calc(1*var(--padding-contall));
            max-width: var(--largura-content);
            border-radius: var(--quadrado);
            display: flex;
            justify-items: center;

            div{
                text-align: left;
                width: calc(var(--largura-content) - 2*var(--padding-contall));
            }

            &#att_globais{
                background-color: var(--bg-dark1);
                display: grid;
                gap: var(--gap-med);

                .att{
                    color: var(--color-att);
                    font-weight: bold;
                }
            }

        }
    }
}